@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";

/*--------- 모든 파일에 적용될 것 ---------*/
body {
    color: #2E363E;
    font-family: 'Open Sans', sans-serif;
    height: 200vh;
}

/*--------- chats.html의 css는 짧아서 일단 여기 보관 ---------*/
.main-screen {
    padding: 0px var(--horizontal-space);
}

/*--------- 화면마다, fixed해서 생긴 빈공간 ---------*/