#chat-screen,
#chat-screen .status-bar,
#chat-screen .alt-header { 
    background-color: #abc1d1;
}
#chat-screen {
    height: 1000vh;
}
.main-chat {
    margin-top: 120px;
}

/*----------- timestap -----------*/
.chat__timestamp {
    text-align: center;
    margin: 30px;
}
.chat__timestamp span {
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
}

/*----------- 대화창 -----------*/
.message-row {
    display: flex;
    margin-bottom: 20px;
}
.message-row img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 30%;
}
.message__author {
    display: block;
    margin: 5px 0 8px;
    font-size: 15px;
    color: var(--deep-gray);
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__bubble {
    padding: 12px 13px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    border-top-left-radius: 0px;
    background-color: white;
}
.message__time {
    margin: 0px 5px;
    font-size: 13px;
    color: var(--gray);
}
/* 대화창 modifier */
.message-row__own {
    justify-content: flex-end;
}
.message-row__own .message__info {
    flex-direction: row-reverse;
}
.message-row__own .message__bubble {
    background-color: var(--yellow);    
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
}

/*----------- reply form edit -----------*/
.reply {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}

.reply__column:first-child {
    width: 8%;
}
.reply__column:first-child i {
    font-size: 28px;
    font-weight: lighter;
    color: var(--gray);
}

.reply__column:last-child {
    width: 92%;
    /* position: relative; */
    padding: 3px;
    padding-left: 15px;
    border-radius: 25px;
    border: var(--main-border);
    background-color: #F8F8F8;
    /* Added */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reply__column:last-child input {
    width: 80%;
    border: none;
    font-size: 18px;
    background-color: #F8F8F8;
}
.reply__column:last-child > i {
    font-size: 25px;
    color: var(--gray);
    /* position: absolute;
    right: 55px;
    top: 10px; */
}
.reply__column:last-child button {
    width: 38px;
    height: 38px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    background-color: var(--yellow);
    /* position: absolute;
    right: 2px;
    top: 4px; */
}