/* 상태바 관련 */
.screen-header__icons .fa-gear .badge--dot {
    position: absolute;
    right: -5px;
    top: -15px;
}
.screen-header__icons .fa-gear {
    position: relative;
}

/* find icons */
.find-icons {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}
.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find-icons__icon i {
    font-size: 35px;
    margin-bottom: 25px;
}

.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends h6 {
    font-size: 15px;
    color: var(--deep-gray);
}
.recommended-friends div /*니꼬는 span임*/{
    margin: 100px 0px;
    text-align: center;
    color: var(--gray);
}

/* Open Chat */
.open-chat__header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    font-size: 15px;
    color: var(--deep-gray);
}
.open-chat__header span {
    color: var(--light-gray);
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--main-border);
    padding-bottom: 15px;
    margin-bottom: 15px;

}
/* .open-post__column:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.open-post__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}
.open-post__hashtags {
    text-transform: uppercase;
    color: var(--gray);
}
.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
    color: var(--gray);
}
.open-post__members img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count {
    font-size: 15px;
}
.open-post__members .divider {
    width: 1.5px;
    height: 15px;
    margin: 0px 5px;
    background-color: var(--light-gray);
}
.open-post__member-status {
    color: #FFAEDF;
}

.open-post__photo {
    position: relative;
}
.open-post__photo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.open-post__heart-count {
    /* width: 40px; */
    padding: 5px 7px;
    font-size: 13px;
    border-radius: 10px;
    background-color: var(--deep-gray);
    color: white;
    position: absolute;
    bottom: 7px;
    right: 5px;
}
