.friends-display__empty-space {
    height: 121px;
}
#friends-display-link {
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -15px; /*이걸 없애고 프렌즈만 빈공간을 15 줄여도 된다*/
}
#friends-display-link i {
    color: var(--light-gray);
}

/* main 안의 friends-screen */
.friends-screen {
    padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
    border-top: var(--main-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--deep-gray);
    /* margin-top: 25px; */
    padding: 15px 0px;
}
.friends-screen__channel-header{
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/* -------------- splash screen -------------- */
@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
        /* display: none; */
    }
}

#splash-screen {
    background-color: var(--yellow);
    font-size: 130px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1s;
}