.friends-display__empty-space {
    height: 106px;
}
#friends-display-link {
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
    margin-bottom: 10px;
}
#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}

/* main 안의 friends-screen */
.friends-screen {
    padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    padding: 15px 0px;
}
.friends-screen__channel-header{
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}