.friends-display__empty-space {
    height: 106px;
}
#friends-display-link {
    display: block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
    margin-bottom: 10px;
}
#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
    padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}