.nav{
    background-color: #F9F9FA;
    padding: 20px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav_link {
    color: #2E363E;
}